<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>About SF</h1>
    <p>
        Hi. I'm Sigurður!
        I'm a father, developer and techonology enthusiast.
    </p>
</body>
