<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>Welcome to my blog</h1>
    <p>This blog serves one or more purposes.</p>
    <ul>
        <li>Learn about astro</li>
        <li>Do cool automated deployements</li>
        <li>Share my thoughts with 0 or more people</li>
    </ul>
    <p>For now, enjoy this very performant piece of software</p>
</body>
